<html lang="en">
<head>
  <title>Employee Shift</title>
  <!-- <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
</head>

<body>
<div class="panel panel-primary">
  <div align="center" class="panel-heading">Add Employee Shift</div>
  <p></p>
  <form class="form-inline" role="form">
    <div class="form-group">
      <label for="empid">Employee ID:</label>
      <input type="text" class="form-control" id="empid" placeholder="Enter Employee ID" ng-model="empshiftCtrl.empId">
    </div>
    <div class="form-group">
      <label for="shiftid">Shift ID:</label>
      <input type="text" class="form-control" id="shiftid" placeholder="Enter Shift ID" ng-model="empshiftCtrl.shiftId">
    </div>
    <button type="button" class="btn btn-primary" ng-click="empshiftCtrl.saveEmpShift(0)">Add</button>
  </form>
</div>

<div>
    <div class="panel panel-primary">
    <div align="center" class="panel-heading">Available List of Employees with Shift Schedule</div>
    <table class="table">
      <thead>
        <tr>
          <th>Edit?</th>
          <th>EmpShift ID</th>
          <th>Emp UserName</th>
          <th>Emp FullName</th>
          <th>Shift Name</th>
          <th>Shift Start</th>
          <th>Shift End</th>
          <th>Shift ID</th>
          <th>Action</th>
        </tr>
      </thead>
       <tr ng-repeat="viewempshift in empshiftCtrl.viewempshift">
         <td><input type="checkbox" ng-model="f.editMode"/></td>
         <td>{{viewempshift.empShiftId}}</td>
         <td>{{viewempshift.emp_username}}</td>
         <td>{{viewempshift.emp_fullname}}</td>
         <td>{{viewempshift.shift_name}}</td>
         <td>{{viewempshift.shift_start}}</td>
         <td>{{viewempshift.shift_end}}</td>
        <td>
          <div class="form-group">
            <span ng-show="!f.editMode">{{viewempshift.shiftId}}</span>
            <input type="text" class="form-control" id="shiftId" placeholder="viewempshift.shiftId" ng-model="viewempshift.shiftId" ng-show="f.editMode"/>
          </div>
          <!-- <span ng-show="!f.editMode">{{viewempshift.shiftId}}</span>
          <input type="text" ng-model="viewempshift.shiftId" ng-show="f.editMode"/> -->
          <!-- <button ng-click="updateField($index)" ng-show="f.editMode">Update</button> -->
        </td>
          <!-- <td><button ng-click="empshiftCtrl.deleteEmpShift(viewempshift.empShiftId)">Delete</button></td> -->
          <td><button type="button" class="btn btn-danger" ng-click="empshiftCtrl.deleteEmpShift(viewempshift.empShiftId)">Delete</button></td>
          <td><button type="button" class="btn btn-success" ng-click="empshiftCtrl.editEmpShift(viewempshift.empShiftId, viewempshift.shiftId)" ng-show="f.editMode">Update</button></td>
          <!-- <td><button ng-click="empshiftCtrl.editEmpShift(viewempshift.empShiftId, viewempshift.shiftId)" ng-show="f.editMode">Update</button></td> -->
      </tr>
    </table>
    </div>
</div>
<div class="panel panel-info">
  <div align="center" class="panel-heading">List of Employees</div>
  <table class="table">
    <thead>
      <tr>
        <th>Emp ID</th>
        <th>UserName</th>
        <th>FullName</th>
        <th>Level</th>
      </tr>
    </thead>
     <tr ng-repeat="emp in empshiftCtrl.employee">
       <td>{{emp.empId}}</td>
       <td>{{emp.emp_username}}</td>
       <td>{{emp.emp_fullname}}</td>
       <td>{{emp.emp_level}}</td>
    </tr>
  </table>
</div>

<div class="panel panel-info">
 <div align="center" class="panel-heading">List of Shift Schedule</div>
 <table class="table">
   <thead>
     <tr>
       <th>Shift ID</th>
       <th>Shift Start</th>
       <th>Shift End</th>
       <th>Shift Break</th>
       <th>Shift Type</th>
     </tr>
   </thead>
    <tr ng-repeat="shift in empshiftCtrl.shifts">
      <td>{{shift.shift_id}}</td>
      <td>{{shift.shift_start}}</td>
      <td>{{shift.shift_end}}</td>
      <td>{{shift.shift_break}}</td>
      <td>{{shift.shift_name}}</td>
   </tr>
 </table>
</div>

</body>
</html>
