<div class="jumbotron text-center">
		<div class="container" >
			<div class="col-sm-8 col-sm-offset-2">

					<!-- PAGE HEADER -->
			<div class="page-header">
				<font size="6">Time In/Out Page </font>
			</div>
		</div>
	</div>

	<div>
		<table align="center">
			<tr>
				<td align="center">
					Date Today: <b>{{timeCtrl.date}} </b>
					&nbsp &nbsp Time: <b>{{timeCtrl.time}}</b>
				</td>
				<td>
					<br></br>
				</td>
			</tr>
			<tr>
					<div class="wrapper">

							<td>
								<!-- <button ng-hide="loginCtrl.validatedsignedin" type="submit" class="btn btn-primary" style="height:50px; width:150px" align="center">
									<font size="5">App Login</font>
								</button> -->
								<button  type="submit" ng-click="timeCtrl.submit()" ng-model="timeCtrl.buttonName" class="btn btn-primary" style="height:50px; width:400px" align="center">
									<font size="4"><b>{{timeCtrl.buttonName || Message}}</b></font>
								</button>
							</td>
					</div>

			</tr>
		</table>
	</div>

</div>
